<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <img src="<%= asset_path('odw.gif') %>" />
      
      <div class="center">
        <%= form_tag("/search", :method => "get") do %>
        <p>
          <%= text_field_tag :search, params[:search], placeholder: "Search DPLA Database" %>
          <%= submit_tag "Search" %>
        </p>
      
        <% end %>
      </div>
    </div>
  </div>
</div>

